{{> head }}
{{> navbar}}
    
<div class="row">
   <div class="col-8"> 
       <h1>Gear of War</h1>
       <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsam voluptate maiores illum ducimus cumque sint, impedit quos dolorem. Adipisci quisquam eos vel placeat temporibus corrupti consectetur ad aspernatur odit.
       </p>
   </div>
   <div class="col-4"> 
       <img src="assets/img/miimagen.jpg" class="img-thumbnail">
    </div>
    


</div>
{{> footer}}